.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
*.ext
*.spice
*.nodes
*.sim
test/lvs/work/
test/postlayout_sim/work/
test/drc/drc_reports/
test/drc/mpw_precheck/
